* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #1c2230;
    color: white;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 700px;
    background-size: 100vw;
    
}

.link1, .link2, .link3, .logo1 {
    display: inline;
}

.nav {
    color: white;
}

.started-btn {
    background-image: linear-gradient(#4fc4d5, #45bcd0, #45bcd0);
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    border: none;
    color: #e0ffff;
}

.started-btn:hover {
    background-image: linear-gradient(#8cdae4, #8bdbe6, #8cdae4);
}

.two-rows {
    margin: 0 auto;
}

.founder {
    margin-bottom: 10rem;
    margin-top: 3rem;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
}

.col1, .col2, .col3 {
    background-color: #21293c;
    margin-right: 8px;
    padding: 2rem;
}

.col1::before {
    content: "";
    width: 20vw;
    height: 30vh;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-80px, -60px);
    
}




.access {
    background-color: #21293c;
    margin-left: 15rem;
    margin-right: 15rem;
    position: absolute;
    transform: translateY(-150px);
    
}

footer {
    background-color: #0c1524;
    padding-top: 15rem;
    padding-bottom: 3rem;
    
}

.icon1, .icon2, .icon3 {
    border: 1px white solid;
    padding: 0.2rem;
    border-radius: 50%;
}

.icon1:hover, .icon2:hover, .icon3:hover {
    color: #45bcd0;
}

ul {
    list-style: none;
    line-height: 2rem;
}

.line-h {
    line-height: 2rem;
}

form input {
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    width: 20vw;
    border: none;
}

form button {
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    background-image: linear-gradient(#4fc4d5, #45bcd0, #45bcd0);
    color: #e0ffff;
}

form button:hover {
    background-image: linear-gradient(#8cdae4, #8bdbe6, #8cdae4);
}

.founder-img {
    border-radius: 50%;
    width: 4vw;
    height: 5vh;
}

.col-11 h5, .col-11 p {
    font-size: 10px;
    line-height: 0.5rem;
    
}

.lorem {
    font-size: 1rem !important;
}

.small-screen {
    display: none;
}

.header-small {
    display: none;
}

@media screen and (max-width: 916px) {
    .access {
        margin-left: 5rem;
        margin-right: 5rem; 
    }
}

@media screen and (max-width: 592px) {
    .access {
        position: relative;
        margin: auto;
    }
    .access input {
        width: 70vw;
        margin-bottom: 0.1rem;
    }

    .access button {
        width: 70vw;
    }

    .founder {
        display: block;
    }

    .col1, .col2 {
        margin-bottom: 8px;
        
    }

    .illustration {
        display: block !important;
    }

    .illustration>div>img {
        width: 50vw !important;
    }

    .two-rows, .four-col {
        display: block !important;
    }

    .founder-img {
        border-radius: 50%;
        width: 10vw;
        height: 5vh;
    }

    .footer {
        display: block !important;
        color: white;
        padding-right: 4rem;
        padding-left: 2rem;
    }

    .small-screen {
        display: block;
    }

    .big-screen {
        display: none !important;
    }

    .container-fluid {
        background-color: #1c2230;
        color: white;
        background-image: url(./images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-position: 0 350px;
        background-size: 100vw;
    }


}

@media screen and (max-width: 400px) {
    .header-small {
        display: block;
    }

    .header-big {
        display: none;
    }
}